{% extends 'base/base.html' %}
{% block content %}
    {% for request in requests%}
        <div class="p-3 bg-light border d-flex flex-row">
            <div class="d-flex align-self-center">
                <img class="rounded-circle" width="36px" height="36px" src="https://ballotpedia.s3.amazonaws.com/images/c/ca/ESG_Icon_200x200.png" alt="avatar">
            </div>
            <div class="d-flex flex-column px-3 align-self-center">
                <div>
                    {{ request.from_user }}
                </div>
                <div>
                    {{ request.created_at }}
                </div>
            </div>
            <div id="request-actions" class="ml-auto d-flex align-self-center">
                <form action="{% url 'friends:request_accept' request.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success">Accept</button>
                </form>
                <form action="{% url 'friends:request_reject' request.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">Reject</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}

<script>
    
</script>