{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="d-flex flex-column align-self-start">
  <div id="chat-log" class="overflow-auto p-1 pt-3 pe-3" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
    
  </div>

  <div class="p-3 mb-auto text-muted d-flex justify-content-start align-items-center bg-dark">
    <input type="text" class="form-control form-control-lg" id="message" placeholder="Введите сообщение...">
    <button id="send-message" class="btn btn-outline-primary btn-sm" style="margin: 0px 0px 0px 5px;">Отправить</button>
  </div>

</div>

<script src="{% static 'reconnecting-websocket.js' %}"></script>

<script>
const username = '{{request.user}}';
const chatLog = document.getElementById('chat-log');
const messageInput = document.querySelector('#message');
let page = 1; 

var chatSocket = new ReconnectingWebSocket(
  'ws://' + 
  window.location.host +
  '/ws/messenger/' + 
  '{{room.name}}' + 
  '/'
);

chatSocket.onmessage = function(e) {
  var data = JSON.parse(e.data);
  if (data['message'] !== null) {
    if (data['type'] == 'chat_message') {
      createMessage(data['message']);

    } else if (data['type'] == 'fetch_messages') {
      fetchMessages(data['message']);
      chatLog.scrollTop = chatLog.scrollHeight;

    }
  };
};


function createMessage(message) {
  messageElement = buildMessage(message);
  chatLog.appendChild(messageElement);
};



chatSocket.onopen = function (e) {
  page = 1;
  document.querySelector('#head_title').innerText = '{{room_title}}';
  chatLog.innerHTML = '';
  chatSocket.send(JSON.stringify(
    {
      'type': 'fetch_messages',
      'page': page,
    }
  ));
};

document.querySelector('#send-message').onclick = function (e) {
  e.preventDefault();
  let content = messageInput.value;
  if (content !== '') {
    chatSocket.send(JSON.stringify(
      {
        'type': 'chat_message',
        'content': content,
      }
    ));
    messageInput.value = '';
  };
};


chatLog.addEventListener('scroll', () => {
  if (chatLog.scrollTop == 0) {
    page++;
    chatSocket.send(JSON.stringify(
      {
        'type': 'fetch_messages',
        'page': page,
      }
    ))
  };
});


function fetchMessages(messages) {
  let fragment = document.createDocumentFragment();

  for (const msg of messages) {
    const messageElement = buildMessage(msg);
    fragment.appendChild(messageElement);
  };

  chatLog.insertBefore(fragment, chatLog.firstChild);

  const newScrollHeight = chatLog.scrollHeight;
  chatLog.scrollTop = newScrollHeight
  console.log(newScrollHeight)
};


function buildMessage(message) {
  var div = document.createElement('div');
  div.className = message['author'] == username ? 'd-flex flex-row justify-content-end' : 'd-flex flex-row justify-content-start';
  var innerDiv = document.createElement('div');
  var p1 = document.createElement('p');
  var p2 = document.createElement('p');
  p1.className = message['author'] == username ? 'small p-2 me-3 mb-1 text-white rounded bg-primary' : 'small p-2 ms-3 mb-1 rounded text-light';
  p1.style.backgroundColor = message['author'] == username ? '' : '#696969';
  p1.textContent = message['content'];
  p2.className = 'small mb-3 rounded text-muted';
  p2.textContent = message['timestamp'];
  innerDiv.appendChild(p1);
  innerDiv.appendChild(p2);
  div.appendChild(innerDiv);
  return div;
}


chatSocket.onclose = function(e) {
  console.error('Chat socket closed unexpectedly');
};


</script>
{% endblock %}