{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="d-flex flex-column align-self-start">
  <div id="chat-log" class="overflow-auto p-1 pt-3 pe-3" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
    
  </div>

  <div class="p-3 mb-auto text-muted d-flex justify-content-start align-items-center bg-dark">
    <input type="text" class="form-control form-control-lg" id="message" placeholder="Введите сообщение...">
    <button id="send-message" class="btn btn-outline-primary btn-sm" style="margin: 0px 0px 0px 5px;">Отправить</button>
  </div>

</div>

<script src="{% static 'reconnecting-websocket.js' %}"></script>

<script>
const username = '{{request.user}}';
const chatLog = document.getElementById('chat-log');

var chatSocket = new ReconnectingWebSocket(
  'ws://' + 
  window.location.host +
  '/ws/messenger/' + 
  '{{room.name}}' + 
  '/'
);

chatSocket.onmessage = function(e) {
  var data = JSON.parse(e.data);
  if (data['type'] == 'chat_message') {
    createMessage(data['message']);
  } else if (data['type'] == 'fetch_messages') {
    uploadMessages(data['message']);
    chatLog.scrollTop = chatLog.scrollHeight;
  } else if (data['type'] == 'paginate') {
    uploadMessages(data['message']);
  }
};

chatSocket.onopen = function (e) {
  document.querySelector('#head_title').innerText = '{{room_title}}';
  chatLog.innerHTML = '';
  chatSocket.send(JSON.stringify(
    {
      'type': 'fetch_messages',
    }
  ));
};

document.querySelector('#send-message').onclick = function (e) {
  e.preventDefault();
  const message = document.querySelector('#message');
  const content = message.value;
  chatSocket.send(JSON.stringify(
    {
      'type': 'chat_message',
      'content': content,
    }
  ));
  message.value = '';
};

function createMessage(data) {
  var author = data['author'];
  var content = data['content'];
  var timestamp = data['timestamp'];

  if (username == author) {
    chatLog.innerHTML += 
    '<div id="sender" class="d-flex flex-row justify-content-end">' +
      '<div>' +
        '<p class="small p-2 me-3 mb-1 text-white rounded bg-primary">' +
            content +
        '</p>' +
        '<p class="small me-3 mb-3 rounded text-muted">' +
            timestamp +
        '</p>' +
      '</div>' +
    '</div>'
  } else {
    chatLog.innerHTML +=
      '<div id="reciever" class="d-flex flex-row justify-content-start">' +
        '<div>' +
          '<p class="small p-2 ms-3 mb-1 rounded text-light" style="background-color: #696969;">' +
            content +
          '</p>' +
          ' <p class="small ms-3 mb-3 rounded text-muted float-end">' +
            timestamp +
          '</p>' +
        '</div>' +
      '</div>'
  };
  chatLog.scrollTop = chatLog.scrollHeight;
};

function insertMessageUp(data) {
  var author = data['author'];
  var content = data['content'];
  var timestamp = data['timestamp'];

  if (username == author) {
    chatLog.insertAdjacentHTML(
      'afterbegin',
      '<div id="sender" class="d-flex flex-row justify-content-end">' +
      '<div>' +
        '<p class="small p-2 me-3 mb-1 text-white rounded bg-primary">' +
            content +
        '</p>' +
        '<p class="small me-3 mb-3 rounded text-muted">' +
            timestamp +
        '</p>' +
      '</div>' +
    '</div>'
    )
  } else {
    chatLog.insertAdjacentHTML(
      'afterbegin',
      '<div id="reciever" class="d-flex flex-row justify-content-start">' +
        '<div>' +
          '<p class="small p-2 ms-3 mb-1 rounded text-light" style="background-color: #696969;">' +
            content +
          '</p>' +
          ' <p class="small ms-3 mb-3 rounded text-muted float-end">' +
            timestamp +
          '</p>' +
        '</div>' +
      '</div>'
    )
  }
};

function uploadMessages(data) {
  for (const msg of data) {
    insertMessageUp(msg);
  };
};

chatLog.addEventListener('scroll', () => {
  if (chatLog.scrollTop == 0) {
    chatSocket.send(JSON.stringify(
      {
        'type': 'paginate'
      }
    ))
  };
});

chatSocket.onclose = function(e) {
  console.error('Chat socket closed unexpectedly');
};
</script>
{% endblock %}