{% extends 'base/base.html' %}

{% load static %}

{% block title %}Password reset done{% endblock %}

{% block content %}
    <h2 class="text-center">Password reset</h2>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="password" class="form-control" id="email" placeholder="Enter new password" name="new_password1">
                {% if 'new_password1' in form.errors %}
                    {% for error in form.new_password1.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="email" placeholder="Repeat new password" name="new_password2">
                {% if 'new_password2' in form.errors %}
                    {% for error in form.new_password2.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <button type="submit" id="button" class="btn btn-primary deep-purple btn-block ">Submit</button>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}