{% extends 'base/registration.html' %}

{% load static %}

{% block title %}Password reset{% endblock %}

{% block content %}
<h2 class="text-center">Password reset</h2>
<br>
<p>Enter your email to obtain a new password</p>
<form action="{% url 'accounts:password_reset' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <button type="submit" id="button" class="btn btn-primary deep-purple btn-block ">Submit</button>
    <br>
    <br>
    <div id="btn" class="text-center">
        <button type="button" class="btn btn-primary btn-circle btn-sm"><i class="fa fa-facebook"></i></button>
        <button type="button" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-google"></i></button>
        <button type="button" class="btn btn-info btn-circle btn-sm"><i class="fa fa-twitter"></i></button>
    </div>
</form>
<a href="{% url 'accounts:home' %}" class="href">home</a>
{% endblock %}