{% extends 'base/registration.html' %}

{% load static %}

{% block title %}Password change{% endblock %}

{% block content %}
<h2 class="text-center">Password change</h2>
<br>
<form action="{% url 'accounts:password_change' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input type="password" class="form-control" id="email" placeholder="Enter old password" name="old_password">
        {% if 'old_password' in form.errors %}
            {% for error in form.old_password.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="email" placeholder="Enter new password" name="new_password1">
        {% if 'new_password1' in form.errors %}
            {% for error in form.new_password1.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="email" placeholder="Repeat new password" name="new_password2">
        {% if 'new_password2' in form.errors %}
            {% for error in form.new_password2.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <button type="submit" id="button" class="btn btn-primary deep-purple btn-block ">Submit</button>
    <br>
    <br>
    <div id="btn" class="text-center">
        <button type="button" class="btn btn-primary btn-circle btn-sm"><i class="fa fa-facebook"></i></button>
        <button type="button" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-google"></i></button>
        <button type="button" class="btn btn-info btn-circle btn-sm"><i class="fa fa-twitter"></i></button>
    </div>
</form>
<a href="{% url 'accounts:home' %}" class="href">home</a>
{% endblock %}