{% extends 'base/base.html' %}

{% load static %}

{% block title %}Password reset{% endblock %}

{% block content %}
<h2 class="text-center">Password reset</h2>
<br>
<p>Enter your email to obtain a new password</p>
<form action="{% url 'accounts:password_reset' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        {% if 'email' in form.errors %}
            {% for error in form.email.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <button type="submit" id="button" class="btn btn-primary deep-purple btn-block ">Submit</button>
</form>

{% endblock %}