{% extends 'base/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="p-3">
    <h2 class="text-center">Регистрация</h2>
    <br>
    <form action="{% url 'accounts:signup' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input name="username" type="username" class="form-control" id="email" placeholder="Введите никнейм" value="{{ form.username.value|default_if_none:'' }}">
            <p>{{form.username.help_text|safe}}</p>
            {% if 'username' in form.errors %}
                {% for error in form.username.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <input name="email" type="email" class="form-control" id="email" placeholder="Введите email" value="{{ form.email.value|default_if_none:'' }}">
            {% if 'email' in form.errors %}
                {% for error in form.email.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <input name="password1" type="password" class="form-control" id="email" placeholder="Введите пароль">
            <p>{{form.passowrd1.help_text}}</p>
            {% if 'password1' in form.errors %}
                {% for error in form.password1.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <input name="password2" type="password" class="form-control" id="email" placeholder="Повторите пароль">
            {% if 'password2' in form.errors %}
                {% for error in form.password2.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" id="button" class="btn btn-warning deep-purple btn-block ">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}